/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,200&display=swap'); */
      
      .myClass1 {
        font-family: 'Source Sans Pro', sans-serif;
        text-align: justify;
      }
      .myClass2 {
        font-style: italic;
        color: red;
      }
      .myClass3 {
        color: aquamarine;
        font-weight: bold;
      }
      .myClass4 {
        color: bisque;
        font-size: 2em;
      }
